@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Primary Colors */
  --color-primary: #0033a0;
  --color-primary-extra: #dddddd;

  /* Blue Variants */
  --color-dark-blue: #001f5b;
  --color-light-blue: #4c8cff;

  /* Grayscale */
  --color-black: #000000;
  --color-tinted-black: #222222;
  --color-dark-gray: #555555;
  --color-medium-gray: #777777;
  --color-tinted-gray: #888888;
  --color-pale-gray: #aaaaaa;
  --color-shaded-white: #dddddd;
  --color-white: #ffffff;

  /* Elevation Shadows */
  --shadow-elevation-1: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-elevation-2: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-elevation-3: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
  --shadow-elevation-4: 0px 12px 24px 0px rgba(0, 0, 0, 0.20);
  --shadow-elevation-5: 0px 16px 32px 0px rgba(0, 0, 0, 0.24);
}
